# Server
PORT=4000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

# PostgreSQL
DATABASE_URL=postgresql://adempiere:bunde123@localhost:5432/secure_file_storage

# JWT
JWT_ACCESS_SECRET=dGhpcy1pcy1hLXNlY3VyZS1zZWNyZXQtZm9yLXRhYWxpbS1hcHAtMjAyNgo= 
JWT_REFRESH_SECRET=dGhpcy1pcy1hLXNlY3VyZS1zZWNyZXQtZm9yLXRhYWxpbS1hcHAtMjAyNgo= 
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Uploads
STORAGE_DIR=./storage
MAX_FILE_SIZE_MB=120
